.notice {
  height: 25px;
  background-color: #38AEF0;
  color: #ffffff;  
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}
.wrapper{
  height: 100%;
  margin: 0;
  padding: 0;
  .chat-side {
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    float: left;
    overflow: hidden;
    .side-header{
      height: 96px; 
      width: 300px;
      float: left;
      background-color: #253141;
      color: white;
      &__box{
        height: 24px;
        width:  260px;
        background-color: #253141;
        margin: 36px 20px;
        &__user-name{
          float: left;
          color: white;
          font-weight: bold;
          font-size: 16px;
        }
        &__menu{
          float: right;
          &__new-group{
            float: left;
            color: white;
            margin: 0px 2px;
          }
          &__edit-user{
            float: right;
            color: white;
            margin: 0px 2px;
          }
        }      
      }   
    }
    .groups{
      box-sizing: border-box;
      width: 300px;
      height: 100%;
      float: left;
      background-color: #2f3e51;
      .group{
        width: 260px;
        height: 85px;
        margin: 20px auto;
        &__group-name{
          color: white;
          font-size: 15px;
          font-weight: bold;
        }
        &__latest-message{
          color: white;
          font-size: 11px;
          font-weight: bold;
          margin: 5px 0;
        }
      }
    }
  }  
  .chat-main{
    float: right;
    width: calc(100vw - 300px);
    height: 100vh;
    overflow: scroll;
    .main-header{
      border:1px solid #eeeeee;
      border-color: #eeeeee;
      height: 96px;
      background-color: white;
      &__left-box{
        float: left;
        height: 82px;
        margin: 0 40px;
        background-color: white;
        &__current-group{
          font-size: 20px;
          color: #333333;
          padding-top: 35px;
          padding-bottom: 12px;
        } 
        &__member-list{
          font-size: 12px;
          color: #999999;
          float: left;
          &__member{
            float: right;
            margin: 0 2px;
          }
        }
      }
      &__edit-btn{
        float: right;
        width:80px;
        height: 40px;
        font-size:16px;
        text-decoration:none;
        display:block;
        text-align:center;
        line-height: 40px;
        color: #38AEF0;
        border:1px solid #38AEF0;
        border-color: #38AEF0;
        margin-top: 28px;
        margin-right: 40px;
      }
    }
    .messages{
      background-color: #fafafa;
      height: 580px;
      padding-top: 46px;
      .message{
        height: 80px;
        margin: 0px 40px 40px 40px;
        &__upper-info{
          height: 40px;
          &__talker{
            font-size: 16px;
            font-weight: bold;
            color: #434a54;
            float: left;
          }
          &__date{
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
            float: left;
          }
        }
        &__text{
          font-size: 14px;
          color: #434a54;
        }
      }
    }
    .form{
      background-color: lightgray;
      height: 100px;
      .form-box{
        margin-left: 40px;
        margin-right: 40px;
        .input-box{         
          float: left;
          background-color: white;
          width:90%;
          height:50px;
          margin-top:25px;
          margin-bottom: 25px;
          &__text{
            width: 90%;
            height: 50px;
            float: left;
            margin-left: 10px;
            line-height:50px;
            font-size:16px;
            color: #434A54;
            outline: 0;
            border: 0px;
            background: transparent;
          }
          &__image{
            text-align: right;
            margin-right: 10px;
            line-height:50px;
            float: right;
          }
        }
        .submit-btn{
          float: right;
          width:80px;
          height: 50px;
          font-size:16px;
          text-decoration:none;
          display:block;
          text-align:center;
          line-height: 50px;
          color: white;
          margin-top: 25px;
          background-color: #38AEF0;
        }
      }
    }
  }
}
