.Header {
  height: 30px;
  background-color: #38AEF0;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
.Contents-left-top{
  width: 300px;
  height: 100vh;
  color: #ffffff;
  float: left;
  font-size: 16px;
  background-color: #253141;
}